@page
@model Final_Project.Pages.WorkTickets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkTicket[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkTicket[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkTicket[0].RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkTicket[0].CampusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkTicket[0].RequestType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkTicket[0].Technician)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.WorkTicket) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technician.TechnicianId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.WorkTicketId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.WorkTicketId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.WorkTicketId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
